div.vis-container {
    position: relative;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-columns: 70% 30%;
    grid-template-areas:
      "vis-principal vis-auxiliar1"
      "vis-principal vis-auxiliar2"
      "vis-timeline vis-timeline";
    max-width: 1080px;
    margin: 0 auto;
    grid-gap: 5px;
    gap: 5px;
}

div#tooltip {
    position: absolute;
    background-color: var(--cor-clara);
    color: var(-cor-fonte-tooltip);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
    width: 180px;
    border-radius: 4px;
    padding: 1em;
    pointer-events: none;   
    z-index: 1; 
}

div#tooltip * + * {
    margin-top: .5em;
}

@media (max-width: 1080px) and (min-width: 580px) {
    div.vis-container {
        grid-template-rows: 2fr 1.5fr 1fr;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "vis-principal vis-principal"
        "vis-auxiliar1 vis-auxiliar2"
        "vis-timeline vis-timeline";
        gap: 0;
        grid-gap: 0;

    }
}

@media (max-width: 579px) {
    div.vis-container {
        grid-template-rows: 2fr 1.5fr 1.5fr 1fr;
        grid-template-columns: 100%;
        grid-template-areas:
        "vis-principal"
        "vis-auxiliar1"
        "vis-auxiliar2"
        "vis-timeline";
    }
}

svg {
    /*outline: 1px solid coral;*/
    width: 100%;
    height: 100%;
}

div.vis-container.modo-detalhado {
    display: block;
}

svg.modo-detalhado {
    display: none;
}

svg.vis-principal {
    grid-area: vis-principal;
}

svg.vis-auxiliar1 {
    grid-area: vis-auxiliar1;
}

svg.vis-auxiliar2 {
    grid-area: vis-auxiliar2;
}

svg.vis-timeline {
    grid-area: vis-timeline;

}

svg.vis-auxiliar1, svg.vis-auxiliar2 {
    border: 1px solid var(--cor-clara);
    border-radius: .5em;
}


.axis line,
.axis path {
    stroke: var(--cor-cinza-clara);
}

.y-axis path {
    stroke: none;
}

g.y-axis .tick line {
    stroke: none;
}

text {
    font-family: "Merriweather Sans";
    font-weight: 100;
}

.axis text {
    color: var(--cor-cinza-escura);
}

text.principal-labels {
    font-size: 10px;
    fill: var(--cor-cinza-escura);
}

text.principal-labels.label-destacado {
    fill: var(--cor-escura);
    font-weight: bold;
}

rect.subtotais {
    fill: var(--cor-clara);
}

rect.subtotais.principal {
    fill: var(--cor-escura);
    stroke: var(--cor-escura);
    cursor: pointer;
}

rect.subtotais.nao-destacado {
    fill: var(--cor-cinza-clara);
    stroke: var(--cor-cinza-clara);
}

rect.auxiliar1.destaques,
rect.auxiliar2.destaques,
path.timeline-destaque {
    fill: var(--cor-escura);
    stroke: var(--cor-escura);
}

.axis.auxiliar1 text,
.axis.auxiliar2 text,
text.auxiliar1-labels,
text.auxiliar2-labels,
text.auxiliar1-labels-destaques,
text.auxiliar2-labels-destaques {
    font-size: 8px;
}

text.auxiliar1-labels-destaques,
text.auxiliar2-labels-destaques {
    fill: var(--cor-escura);
}
